#dropMenu a
{
  padding: .75em;
  text-decoration: none;
  color:#CCCCCC;
  transition: .1s background;
}

#dropMenu a:hover
{
  background: #4E4E4E;
  cursor: pointer;
}

#dropMenu
{
  overflow: hidden;
  display:flex;
  flex-direction: column;
  background: #313131;
}

#dropMenu a
{
  padding: .7rem 2rem !important;
}

#dropIcon
{
  transition: .3s;
}