.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#FFA500;
    border-color: #FFA500;
    box-shadow: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color:#FFA500;
    border-color: #FFA500;
    box-shadow: none;
}