.UserInput
{
  background-color: #f3f1ef !important;
  border-radius: 0 !important;
  border-left:thin solid rgb(196, 196, 196) !important;
  border-right:thin solid rgb(196, 196, 196) !important;
  border-top:0;
  border-bottom: 0;
  transition: .35s border-color ease !important;
}

.UserInput:focus
{
  border:thin solid #FFA500 !important;
}